
@font-face {
  font-family: 'Kabrio Soft';
  src: local('KabrioSoft.otf'), url('./assets/fonts/KabrioSoft-Bold.otf'), format('otf');
}

@font-face {
  font-family: 'Kabrio Soft';
  font-style: bold;
  /* font-weight: ; */
  src: url('./assets/fonts/KabrioSoft-Bold.otf'); /* IE9 Compat Modes */
  src: local('Kabrio Soft'), local('KabrioSoft'),
       url('./assets/fonts/KabrioSoft-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/KabrioSoftBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/KabrioSoftBold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/KabrioSoftBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/KabrioSoftBold.svg') format('svg'); /* Legacy iOS */
}
body {
  font-family: 'Kabrio Soft';
}


.App {
  text-align: center;
  height: 5000px;
}

.scrollTop {
  position: fixed; 
  width: 100%;
  left: 43%;
  bottom: 45px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}