
@font-face {
  font-family: 'KabrioSoft';
  src: local('KabrioSoft'), url('./assets/fonts/KabrioSoft-Bold.otf'), format('otf');
}

.App {
  text-align: center;
  height: 5000px;
}

.scrollTop {
  position: fixed; 
  width: 100%;
  left: 45%;
  bottom: 45px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}